.p-Home.main_container {
height: ;
background-color: #ffffff;
padding-top: ;
padding-left: ;
width: ;
max-width: ;
margin-left: ;
align-self: center;
padding-bottom: 50px;
border-width: 1px;
border-style: solid;
border-color: #080808;
cursor: auto;
}
.p-Home.Div5 {
margin-left: 180px;
margin-right: 180px;
height: ;
align-self: center;
padding-left: ;
}
.p-Home.Flex7 {
display: flex;
height: ;
align-items: center;
align-content: center;
justify-content: space-between;
padding-left: ;
padding-right: ;
padding-top: 19px;
padding-bottom: 19px;
margin-left: ;
}
.p-Home.Div6 {
;
}
.p-Home.Flex8 {
display: flex;
column-gap: 34px;
align-items: center;
margin-left: ;
}
.p-Home.Div8 {
;
}
.p-Home.Div7 {
;
}
.p-Home.Flex187 {
display: flex;
column-gap: 20px;
justify-content: center;
margin-top: ;
margin-bottom: ;
align-items: center;
background-color: #ffffff00;
}
.p-Home.Div9 {
padding-left: ;
margin-left: 180px;
height: ;
align-self: auto;
}
.p-Home.Flex17 {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 30px;
align-content: center;
}
.p-Home.Div20 {
width: 48%;
}
.p-Home.Flex188 {
display: flex;
column-gap: 20px;
justify-content: flex-start;
margin-top: ;
margin-bottom: ;
align-items: center;
background-color: #ffff;
}
.p-Home.Div24 {
width: 48%;
}
.p-Home.Flex20 {
display: flex;
justify-content: space-between;
align-items: stretch;
align-content: center;
}
.p-Home.Div26 {
width: 50%;
}
.p-Home.Div40 {
margin-top: 100px;
height: ;
}
.p-Home.Flex27 {
display: flex;
height: ;
justify-content: center;
column-gap: 40px;
margin-bottom: 50px;
}
.p-Home.Div41 {
padding-top: 30px;
padding-right: 30px;
margin-bottom: ;
padding-left: 30px;
align-self: auto;
text-align: center;
width: 200px;
padding-bottom: 30px;
border-radius: 12px;
border-width: 3px;
border-style: solid;
border-color: #28272740;
}
.p-Home.Div45 {
padding-top: 30px;
padding-right: 30px;
margin-bottom: ;
padding-left: 30px;
align-self: auto;
text-align: center;
width: 200px;
padding-bottom: 30px;
border-radius: 12px;
border-width: 3px;
border-style: solid;
border-color: #28272740;
color: #000000;
}
.p-Home.Div46 {
padding-top: 30px;
padding-right: 30px;
margin-bottom: ;
padding-left: 30px;
align-self: auto;
text-align: center;
width: 200px;
padding-bottom: 30px;
border-radius: 12px;
border-width: 3px;
border-style: solid;
border-color: #28272740;
}
.p-Home.Div47 {
padding-top: 30px;
padding-right: 30px;
margin-bottom: ;
padding-left: 30px;
align-self: auto;
text-align: center;
width: 200px;
padding-bottom: 30px;
border-radius: 12px;
border-width: 3px;
border-style: solid;
border-color: #28272740;
}
.p-Home.Div48 {
text-align: center;
}
.p-Home.Flex186 {
display: flex;
column-gap: 20px;
justify-content: center;
margin-top: 10px;
margin-bottom: 100px;
align-items: center;
background-color: #ffff;
}
.p-Home.Div49 {
background-color: #fff9f3;
height: ;
align-self: auto;
padding-top: 125px;
padding-bottom: 140px;
padding-left: 60px;
}
.p-Home.Flex29 {
display: flex;
height: ;
justify-content: center;
column-gap: 150px;
align-items: center;
align-content: center;
position: static;
width: ;
}
.p-Home.Div50 {
width: 40%;
}
.p-Home.Div291 {
;
}
.p-Home.Flex189 {
display: flex;
column-gap: 20px;
justify-content: flex-start;
margin-top: 10px;
margin-bottom: 100px;
align-items: center;
background-color: ;
}
.p-Home.Div51 {
width: ;
height: ;
align-self: auto;
}
.p-Home.Flex33 {
display: flex;
height: ;
justify-content: space-between;
padding-bottom: ;
width: 600px;
margin-left: 60px;
}
.p-Home.Div57 {
background-color: #ffffff;
margin-top: 340px;
width: 680px;
position: relative;
margin-left: 200px;
height: ;
border-radius: 40px;
align-self: auto;
text-align: left;
overflow: visible;
padding-left: 60px;
padding-top: 50px;
padding-right: 60px;
padding-bottom: 50px;
}
.p-Home.Flex34 {
display: flex;
align-items: center;
align-content: center;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 10px;
}
.p-Home.Flex37 {
display: flex;
align-items: center;
align-content: center;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 20px;
}
.p-Home.Flex38 {
display: flex;
align-items: center;
align-content: center;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 20px;
}
.p-Home.Div58 {
;
}
.p-Home.Div59 {
margin-top: 150px;
height: ;
width: ;
}
.p-Home.Flex40 {
display: flex;
justify-content: center;
margin-bottom: 10px;
}
.p-Home.Div60 {
width: 50%;
margin-bottom: 10px;
}
.p-Home.Div76 {
margin-top: 50px;
}
.p-Home.Flex90 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
margin-bottom: 200px;
}
.p-Home.Div114 {
align-self: auto;
}
.p-Home.Flex183 {
display: flex;
column-gap: 20px;
justify-content: center;
margin-top: ;
margin-bottom: ;
align-items: center;
background-color: #ffff;
}
.p-Home.Div126 {
width: 100%;
}
.p-Home.Flex196 {
display: flex;
justify-content: center;
column-gap: 26px;
}
.p-Home.Div304 {
width: 280px;
margin-right: ;
}
.p-Home.Flex197 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div303 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div306 {
width: 280px;
margin-right: ;
}
.p-Home.Flex198 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div305 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div308 {
width: 280px;
margin-right: ;
}
.p-Home.Flex199 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div307 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div357 {
width: 280px;
margin-right: ;
}
.p-Home.Flex218 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div356 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div127 {
margin-top: ;
margin-bottom: 30px;
width: 100%;
}
.p-Home.Flex205 {
display: flex;
justify-content: center;
column-gap: 26px;
margin-top: 60px;
}
.p-Home.Div315 {
width: 280px;
margin-right: ;
}
.p-Home.Flex201 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div311 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div316 {
width: 280px;
margin-right: ;
}
.p-Home.Flex202 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div312 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div317 {
width: 280px;
margin-right: ;
}
.p-Home.Flex203 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div313 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div318 {
width: 280px;
margin-right: ;
}
.p-Home.Flex204 {
display: flex;
justify-content: space-between;
align-content: flex-end;
width: 280px;
align-self: auto;
align-items: flex-end;
flex-direction: column;
margin-left: ;
margin-top: ;
margin-right: ;
margin-bottom: ;
}
.p-Home.Div314 {
position: absolute;
background-origin: content-box;
text-align: left;
word-wrap: normal;
margin-top: 15px;
margin-right: 15px;
}
.p-Home.Div144 {
margin-top: 200px;
margin-bottom: 40px;
}
.p-Home.Flex227 {
display: flex;
justify-content: center;
align-items: center;
}
.p-Home.Div364 {
;
}
.p-Home.Div148 {
;
}
.p-Home.Flex127 {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 30px;
}
.p-Home.Div149 {
margin-top: 60px;
height: ;
}
.p-Home.Flex128 {
display: flex;
height: ;
justify-content: center;
column-gap: 30px;
align-items: center;
}
.p-Home.Div150 {
;
}
.p-Home.Flex129 {
display: flex;
justify-content: center;
column-gap: 30px;
margin-bottom: 80px;
align-items: center;
}
.p-Home.Div151 {
;
}
.p-Home.Div152 {
border-radius: 20px;
border-style: solid;
border-width: 3px;
border-color: #03030340;
padding-left: 50px;
padding-top: 50px;
padding-right: 60px;
padding-bottom: 50px;
width: 40%;
}
.p-Home.Div157 {
height: ;
}
.p-Home.Flex131 {
display: flex;
height: ;
justify-content: flex-start;
column-gap: 50px;
row-gap: ;
align-items: center;
}
.p-Home.Div158 {
width: 20px;
}
.p-Home.Div159 {
width: ;
}
.p-Home.Div153 {
;
}
.p-Home.Div160 {
;
}
.p-Home.Flex132 {
display: flex;
column-gap: 20px;
justify-content: center;
margin-top: 10px;
margin-bottom: 100px;
align-items: center;
background-color: #ffff;
}
.p-Home.Div161 {
height: ;
background-color: #FFF9F3ff;
}
.p-Home.Div322 {
padding-top: 180px;
}
.p-Home.Flex209 {
display: flex;
margin-top: ;
margin-bottom: 50px;
height: ;
margin-right: 10px;
justify-content: space-between;
align-items: center;
padding-right: 60px;
padding-left: 60px;
}
.p-Home.Div353 {
;
}
.p-Home.Div354 {
;
}
.p-Home.Flex217 {
display: flex;
justify-content: center;
column-gap: 50px;
align-items: center;
height: ;
padding-bottom: 100px;
padding-top: ;
margin-bottom: 200px;
margin-top: 20px;
}
.p-Home.Div351 {
height: ;
width: 38%;
margin-bottom: 10px;
}
.p-Home.Flex216 {
display: flex;
height: ;
flex-direction: column;
align-items: stretch;
justify-content: center;
row-gap: 60px;
margin-bottom: ;
margin-top: ;
margin-right: ;
}
.p-Home.Div348 {
;
}
.p-Home.Flex214 {
display: flex;
justify-content: center;
align-items: center;
column-gap: 30px;
margin-bottom: ;
}
.p-Home.Div344 {
width: 49%;
}
.p-Home.Div340 {
height: ;
width: ;
background-color: #ffffff;
border-radius: 30px;
}
.p-Home.Div338 {
padding-left: 20px;
padding-right: 20px;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Div345 {
height: ;
width: 49%;
background-color: #ffffff;
border-radius: 30px;
}
.p-Home.Div341 {
padding-left: 20px;
padding-right: 20px;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Div349 {
;
}
.p-Home.Flex215 {
display: flex;
justify-content: center;
align-items: center;
column-gap: 30px;
margin-bottom: ;
height: 4%;
}
.p-Home.Div346 {
height: ;
width: 49%;
background-color: #ffffff;
border-radius: 30px;
}
.p-Home.Div342 {
padding-left: 20px;
padding-right: 20px;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Div347 {
width: 49%;
}
.p-Home.Div343 {
height: ;
width: ;
background-color: #ffffff;
border-radius: 30px;
margin-top: 10px;
}
.p-Home.Div339 {
padding-left: 20px;
padding-right: 20px;
padding-top: ;
padding-bottom: 20px;
}
.p-Home.Div352 {
height: 100%;
width: 38%;
background-color: #ffffff;
border-radius: 30px;
}
.p-Home.Div350 {
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 90px;
}
.p-Home.Div244 {
;
}
.p-Home.Flex157 {
display: flex;
}
.p-Home.Div245 {
width: 45%;
height: ;
}
.p-Home.Flex163 {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
.p-Home.Div254 {
background-color: #ffffff;
margin-top: ;
width: 55%;
position: relative;
margin-left: ;
height: ;
border-radius: 40px;
align-self: auto;
text-align: left;
overflow: visible;
padding-left: 60px;
padding-top: 50px;
padding-right: 60px;
padding-bottom: 50px;
}
.p-Home.Flex164 {
display: flex;
align-items: center;
align-content: center;
margin-top: 25px;
margin-bottom: 20px;
column-gap: 20px;
}
.p-Home.Flex165 {
display: flex;
align-items: center;
align-content: center;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 20px;
}
.p-Home.Flex166 {
display: flex;
align-items: flex-end;
align-content: center;
margin-top: 20px;
margin-bottom: 20px;
column-gap: 20px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
color: #00000099;
}
.p-Home.Div246 {
width: 55%;
}
.p-Home.Flex158 {
display: flex;
align-items: stretch;
flex-direction: row;
}
.p-Home.Div252 {
position: absolute;
border-radius: 60px;
border-width: 3px;
border-style: solid;
border-color: #0a0a0a4d;
background-color: #ffff;
margin-top: 90px;
margin-bottom: 20px;
width: 500px;
overflow: visible;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: ;
height: 750px;
}
.p-Home.Flex167 {
display: flex;
align-items: center;
justify-content: center;
height: ;
margin-top: 20px;
align-content: center;
}
.p-Home.Div255 {
background-color: #FFF9F3ff;
height: ;
padding-top: 200px;
font-family: Roboto;
font-size: 22px;
color: #ffffff;
border-radius: ;
padding-bottom: 320px;
}
.p-Home.Div256 {
;
}
.p-Home.Flex169 {
display: flex;
justify-content: space-between;
margin-left: 90px;
margin-right: 90px;
margin-bottom: 60px;
align-items: center;
}
.p-Home.Div257 {
;
}
.p-Home.Div258 {
;
}
.p-Home.Div259 {
;
}
.p-Home.Flex170 {
display: flex;
justify-content: center;
column-gap: 40px;
row-gap: ;
}
.p-Home.Div261 {
;
}
.p-Home.Flex171 {
display: flex;
height: 100%;
flex-direction: column;
width: ;
justify-content: space-between;
}
.p-Home.Div266 {
;
}
.p-Home.Flex172 {
display: flex;
justify-content: center;
column-gap: 20px;
}
.p-Home.Div267 {
;
}
.p-Home.Div268 {
;
}
.p-Home.Div269 {
;
}
.p-Home.Flex173 {
display: flex;
justify-content: center;
column-gap: 20px;
row-gap: ;
}
.p-Home.Div270 {
;
}
.p-Home.Div271 {
;
}
.p-Home.Div263 {
;
}
.p-Home.Div264 {
;
}
.p-Home.Div272 {
height: ;
padding-top: 100px;
}
.p-Home.Flex175 {
display: flex;
height: ;
justify-content: center;
align-items: stretch;
margin-top: ;
padding-top: ;
margin-right: ;
column-gap: 90px;
}
.p-Home.Div277 {
width: ;
height: ;
}
.p-Home.Flex182 {
display: flex;
height: ;
flex-direction: column;
width: ;
justify-content: space-between;
margin-top: 10px;
}
.p-Home.Div288 {
;
}
.p-Home.Flex180 {
display: flex;
justify-content: center;
column-gap: 25px;
row-gap: ;
margin-top: ;
}
.p-Home.Div284 {
;
}
.p-Home.Div285 {
;
}
.p-Home.Div289 {
margin-top: 10px;
}
.p-Home.Flex181 {
display: flex;
justify-content: center;
column-gap: 25px;
margin-top: ;
margin-bottom: 25px;
}
.p-Home.Div286 {
;
}
.p-Home.Div287 {
;
}
.p-Home.Div278 {
width: 18%;
}
.p-Home.Flex176 {
display: flex;
justify-content: space-around;
font-family: Roboto;
}
.p-Home.Div280 {
;
}
.p-Home.Flex178 {
display: flex;
flex-direction: column;
}
.p-Home.Div281 {
text-align: left;
}
.p-Home.Flex177 {
display: flex;
flex-direction: column;
}
.p-Home.Div279 {
width: 25%;
}
.p-Home.Div359 {
;
}
.p-Home.Flex221 {
display: flex;
justify-content: space-between;
align-items: flex-start;
height: 700px;
background-origin: padding-box;
}
.p-Home.Div360 {
width: 47%;
margin-left: ;
height: 700px;
margin-bottom: 10px;
}
.p-Home.Flex223 {
display: flex;
align-items: center;
justify-content: center;
background-color: #FF8300ff;
height: 100%;
padding-top: ;
margin-bottom: ;
}
.p-Home.Div363 {
width: 56%;
}
.p-Home.Flex225 {
display: flex;
column-gap: 20px;
justify-content: flex-start;
margin-top: 10px;
margin-bottom: 100px;
align-items: center;
background-color: ;
}
.p-Home.Div361 {
width: 53%;
height: 100%;
}
.p-Home.Menu1 {
display: none;
}
.p-Home.Image3 {
margin-right: ;
}
.p-Home.Link1 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #020202b3;
margin-right: 25px;
cursor: pointer;
}
.p-Home.Link3 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #020202b3;
margin-right: 25px;
cursor: pointer;
}
.p-Home.Link4 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #020202b3;
margin-right: 25px;
cursor: pointer;
}
.p-Home.Link5 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #020202b3;
cursor: pointer;
}
.p-Home.Link2 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #020202b3;
margin-right: 25px;
cursor: pointer;
}
.p-Home.Link6 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 17px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.Link7 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 17px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.TextBox8 {
margin-top: 20px;
font-family: Roboto;
font-weight: 500;
font-size: 20px;
color: #00000099;
margin-bottom: 20px;
}
.p-Home.TextBox9 {
font-family: Roboto;
font-weight: 700;
font-size: 55px;
color: #FF8300ff;
line-height: 70px;
width: 439px;
}
.p-Home.TextBox285 {
font-family: Roboto;
font-weight: 700;
font-size: 55px;
color: #060606;
line-height: 70px;
width: 439px;
}
.p-Home.Link8 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 17px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.Link9 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 17px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.Div27 {
width: 60rem;
background-color: #FF8300;
height: 530px;
margin-top: ;
margin-right: ;
}
.p-Home.Image15 {
width: 450px;
height: 450px;
position: absolute;
margin-top: 40px;
border-radius: 20px;
margin-left: ;
}
.p-Home.TextBox14 {
align-self: center;
text-align: center;
font-family: Roboto;
font-size: 27px;
font-weight: 700;
color: #010101ff;
margin-bottom: 40px;
}
.p-Home.Image22 {
;
}
.p-Home.TextBox15 {
font-family: Roboto;
font-size: 22px;
font-weight: 700;
text-align: center;
color: #242424;
margin-top: 20px;
margin-bottom: 30px;
}
.p-Home.TextBox16 {
margin-bottom: 30px;
font-family: Roboto;
font-weight: 500;
font-size: 19px;
text-align: left;
color: #121212a6;
line-height: 25px;
}
.p-Home.Link90 {
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #FF8300;
cursor: pointer;
}
.p-Home.TextBox28 {
margin-bottom: 30px;
font-family: Roboto;
font-weight: 500;
font-size: 19px;
text-align: left;
color: #121212a6;
line-height: 25px;
}
.p-Home.TextBox29 {
font-family: Roboto;
font-size: 22px;
font-weight: 700;
text-align: center;
color: #242424;
margin-top: 20px;
margin-bottom: 30px;
}
.p-Home.Image26 {
;
}
.p-Home.Link91 {
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #FF8300;
cursor: pointer;
}
.p-Home.TextBox31 {
margin-bottom: 30px;
font-family: Roboto;
font-weight: 500;
font-size: 19px;
text-align: left;
color: #121212a6;
line-height: 25px;
}
.p-Home.TextBox32 {
font-family: Roboto;
font-size: 22px;
font-weight: 700;
text-align: center;
color: #242424;
margin-top: 20px;
margin-bottom: 30px;
}
.p-Home.Image27 {
;
}
.p-Home.Link92 {
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #FF8300;
cursor: pointer;
}
.p-Home.TextBox34 {
margin-bottom: 30px;
font-family: Roboto;
font-weight: 500;
font-size: 19px;
text-align: left;
color: #121212a6;
line-height: 25px;
}
.p-Home.TextBox35 {
font-family: Roboto;
font-size: 22px;
font-weight: 700;
text-align: center;
color: #242424;
margin-top: 20px;
margin-bottom: 30px;
}
.p-Home.Image28 {
;
}
.p-Home.Link93 {
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #FF8300;
cursor: pointer;
}
.p-Home.Link12 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.Link10 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.TextBox36 {
font-family: Roboto;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox37 {
margin-top: 30px;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #00000066;
line-height: 25px;
}
.p-Home.TextBox38 {
margin-top: 20px;
margin-bottom: 20px;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
color: #00000066;
line-height: 25px;
}
.p-Home.Link13 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.Link {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.TextBox42 {
font-family: Roboto;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox43 {
font-family: Roboto;
font-weight: 500;
color: #07070766;
font-size: 16px;
cursor: pointer;
}
.p-Home.Image158 {
width: 30px;
height: 30px;
cursor: pointer;
}
.p-Home.TextBox44 {
font-family: Roboto;
font-weight: 500;
color: #07070766;
font-size: 16px;
line-height: 25px;
}
.p-Home.Image156 {
width: 30px;
height: 30px;
}
.p-Home.TextBox45 {
font-family: Roboto;
font-weight: 500;
color: #07070766;
font-size: 16px;
}
.p-Home.Image157 {
width: 25px;
height: 25px;
}
.p-Home.Image32 {
width: 520px;
margin-bottom: 100px;
height: 580px;
border-radius: 20px;
position: absolute;
}
.p-Home.TextBox51 {
text-align: center;
font-family: Roboto;
font-weight: 700;
font-size: 33px;
color: #000000;
}
.p-Home.TextBox52 {
text-align: left;
margin-top: 30px;
margin-bottom: ;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #00000080;
width: ;
padding-left: ;
padding-right: ;
margin-left: ;
}
.p-Home.Link15 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.Link14 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.TextBox262 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.TextBox263 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.Image136 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox261 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox265 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.TextBox266 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.Image137 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox264 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox268 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.TextBox269 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.Image138 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox267 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox312 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.TextBox313 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.Image154 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox311 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox277 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.TextBox278 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.Image140 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox273 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox279 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.TextBox280 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.Image141 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox274 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox281 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.TextBox282 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.Image142 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox275 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox283 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #06060680;
padding-left: ;
padding-right: ;
width: ;
}
.p-Home.TextBox284 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 28px;
margin-top: 15px;
margin-bottom: 15px;
}
.p-Home.Image143 {
width: 280px;
height: 280px;
margin-left: ;
border-radius: 25px;
}
.p-Home.TextBox276 {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
background-color: #ffffff;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
border-radius: 15px;
}
.p-Home.TextBox319 {
text-align: center;
margin-bottom: 15px;
font-family: Roboto;
font-weight: 700;
font-size: 32px;
}
.p-Home.TextBox320 {
text-align: center;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
color: #00000099;
}
.p-Home.TextBox166 {
text-align: center;
font-family: Roboto;
font-weight: 700;
font-size: 22px;
color: #070707cc;
margin-top: 15px;
margin-bottom: 25px;
}
.p-Home.Image90 {
width: 200px;
height: 40px;
}
.p-Home.Image91 {
width: 150px;
height: 40px;
}
.p-Home.Image92 {
width: 200px;
height: 40px;
}
.p-Home.Image93 {
width: 200px;
height: 40px;
}
.p-Home.Image160 {
width: 60px;
height: 60px;
cursor: pointer;
}
.p-Home.Rating3 {
column-gap: ;
width: ;
height: ;
cursor: pointer;
}
.p-Home.TextBox167 {
margin-top: 10px;
margin-bottom: 15px;
font-family: Roboto;
font-weight: 500;
color: #020202;
font-size: 25px;
}
.p-Home.TextBox168 {
margin-bottom: 20px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 23px;
color: #04040480;
}
.p-Home.Image94 {
width: 60px;
height: 60px;
border-radius: 50%;
}
.p-Home.TextBox169 {
margin-bottom: 5px;
font-family: Roboto;
font-weight: 500;
}
.p-Home.TextBox170 {
font-family: Roboto;
font-weight: 500;
color: #0a090999;
}
.p-Home.Image159 {
width: 60px;
height: 60px;
cursor: pointer;
}
.p-Home.Link16 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
}
.p-Home.Link17 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.TextBox309 {
font-family: Roboto;
font-weight: 700;
font-size: 35px;
}
.p-Home.Link99 {
padding-top: 18px;
padding-bottom: 18px;
padding-right: 15px;
padding-left: 15px;
border-radius: 20px;
font-family: Roboto;
font-weight: 400;
background-color: #ffff;
cursor: pointer;
}
.p-Home.Image149 {
width: 100%;
height: 200px;
margin-right: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
margin-top: ;
}
.p-Home.TextBox298 {
margin-bottom: 10px;
margin-top: 10px;
font-family: Roboto;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox299 {
margin-top: 20px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
color: #0a090999;
}
.p-Home.Image151 {
width: 100%;
height: 200px;
margin-right: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
margin-top: ;
}
.p-Home.TextBox302 {
margin-top: 20px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
color: #0a090999;
}
.p-Home.TextBox303 {
margin-bottom: 10px;
margin-top: 10px;
font-family: Roboto;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image152 {
width: 100%;
height: 200px;
margin-right: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
margin-top: ;
}
.p-Home.TextBox304 {
margin-bottom: 10px;
margin-top: 10px;
font-family: Roboto;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox305 {
margin-top: 20px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
color: #0a090999;
}
.p-Home.Image150 {
width: 100%;
height: 200px;
margin-right: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
margin-top: ;
}
.p-Home.TextBox300 {
margin-top: 20px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
color: #0a090999;
}
.p-Home.TextBox301 {
margin-bottom: 10px;
margin-top: 10px;
font-family: Roboto;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image153 {
width: 100%;
height: 530px;
margin-right: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox306 {
font-family: Roboto;
font-weight: 500;
font-size: 17px;
color: #02020280;
}
.p-Home.TextBox307 {
margin-bottom: 10px;
margin-top: 10px;
font-family: Roboto;
font-weight: 700;
font-size: 27px;
}
.p-Home.TextBox308 {
margin-top: 15px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
color: #0a090999;
}
.p-Home.TextBox234 {
font-family: Roboto;
font-weight: 700;
font-size: 35px;
}
.p-Home.TextBox235 {
font-family: Roboto;
font-weight: 500;
outline-color: #07070766;
margin-top: 30px;
font-size: 19px;
color: #00000099;
line-height: 25px;
}
.p-Home.TextBox231 {
font-family: Roboto;
font-weight: 500;
color: #07070799;
font-size: 19px;
}
.p-Home.Image163 {
width: 30px;
height: 30px;
}
.p-Home.TextBox232 {
font-family: Roboto;
font-weight: 500;
color: #07070799;
font-size: 19px;
line-height: 25px;
margin-top: 10px;
}
.p-Home.Image161 {
width: 30px;
height: 30px;
}
.p-Home.TextBox233 {
font-family: Roboto;
font-weight: 500;
color: #07070799;
font-size: 19px;
}
.p-Home.Image162 {
width: 25px;
height: 25px;
}
.p-Home.Div249 {
background-color: #FF7629ff;
width: 100%;
height: 990px;
margin-top: ;
padding-top: ;
padding-bottom: ;
margin-left: 100px;
}
.p-Home.Form12 {
display: inline-flex;
flex-direction: column;
row-gap: 40px;
padding: 10px;
align-items: flex-start;
align-self: auto;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
font-family: Roboto;
margin-bottom: ;
width: ;
font-size: 20px;
height: 100%;
}
.p-Home.TextBox236 {
font-family: Roboto;
color: #000000;
font-size: 32px;
font-weight: 700;
}
.p-Home.Link18 {
background-color: #FF7629ff;
padding-left: 28px;
padding-right: 28px;
padding-top: 16px;
padding-bottom: 16px;
border-radius: 40px;
cursor: pointer;
font-family: Roboto;
font-size: 21px;
font-weight: 700;
}
.p-Home.Image123 {
width: 150px;
height: 150px;
border-radius: 10%;
}
.p-Home.Image122 {
width: 150px;
height: 150px;
border-radius: 10%;
}
.p-Home.Image124 {
width: 150px;
height: 150px;
border-radius: 10%;
}
.p-Home.Image125 {
width: 150px;
height: 150px;
border-radius: 10%;
}
.p-Home.Image120 {
width: 340px;
height: 340px;
border-radius: 15%;
}
.p-Home.Image121 {
width: 340px;
height: 340px;
border-radius: 15%;
}
.p-Home.TextBox324 {
font-family: Roboto;
font-weight: 700;
font-size: 30px;
}
.p-Home.Image127 {
width: 170px;
height: 170px;
border-radius: 15%;
}
.p-Home.Image128 {
width: 170px;
height: 170px;
border-radius: 15%;
margin-left: ;
margin-top: ;
}
.p-Home.Image129 {
width: 167px;
height: 170px;
border-radius: 15%;
}
.p-Home.Image130 {
width: 170px;
height: 170px;
border-radius: 15%;
}
.p-Home.TextBox240 {
margin-bottom: 20px;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
}
.p-Home.LinkH {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkN {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkM {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkL {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkK {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkJ {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkI {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.TextBox239 {
font-family: Roboto;
font-size: 20px;
font-weight: 500;
margin-bottom: 20px;
}
.p-Home.LinkA {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkB {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkC {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkG {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkF {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkE {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.LinkD {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
color: #06060680;
margin-bottom: 13px;
cursor: pointer;
}
.p-Home.Image126 {
margin-right: ;
width: 290px;
}
.p-Home.TextBox238 {
font-family: Roboto;
margin-top: 15px;
margin-bottom: 15px;
font-weight: 500;
line-height: 25px;
color: #000000b3;
font-size: 18px;
}
.p-Home.Rating4 {
;
}
.p-Home.TextBox316 {
margin-left: ;
margin-top: 40px;
padding-bottom: ;
margin-bottom: 40px;
font-family: Roboto;
font-weight: 500;
font-size: 17px;
color: #ffffffff;
}
.p-Home.TextBox317 {
font-family: Roboto;
font-weight: 700;
font-size: 45px;
color: #ffffff;
}
.p-Home.Link98 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #060606ff;
background-color: #ffff;
border-width: 1px;
border-style: solid;
border-color: #0000004d;
cursor: pointer;
}
.p-Home.Link500 {
padding-top: 12px;
padding-bottom: 12px;
padding-right: 28px;
padding-left: 28px;
font-family: Roboto;
font-size: 19px;
font-weight: 500;
border-radius: 20px;
color: #ffffff;
background-color: #FF8300ff;
cursor: pointer;
border-width: 1px;
border-style: solid;
}
.p-Home.Image155 {
width: 100%;
height: 700px;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex7.bpt {
width: ;
justify-content: space-between;
margin-left: 10px;
	}
	.p-Home.Div8.bpt {
display: none;
	}
	.p-Home.Div40.bpt {
margin-right: 10px;
margin-left: 10px;
	}
	.p-Home.Flex198.bpt {
align-items: center;
width: ;
	}
	.p-Home.Flex201.bpt {
width: ;
align-items: center;
	}
	.p-Home.Flex202.bpt {
align-items: center;
width: ;
	}
	.p-Home.Flex172.bpt {
align-items: center;
	}
	.p-Home.Flex173.bpt {
align-items: center;
justify-content: center;
	}
	.p-Home.Menu1.bpt {
margin-left: 10px;
margin-right: ;
font-size: 0px;
width: ;
height: ;
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-radius: 5px;
border-width: 1px;
border-style: solid;
border-color: #080808;
cursor: pointer;
	}
	.p-Home.Flex29.bpt {
justify-content: center;
flex-direction: column;
	}
	.p-Home.Div50.bpt {
width: ;
padding-right: 20px;
	}
	.p-Home.Flex33.bpt {
width: %;
	}
	.p-Home.Flex196.bpt {
justify-content: center;
	}
	.p-Home.Flex197.bpt {
align-items: flex-start;
width: ;
	}
	.p-Home.Flex199.bpt {
width: ;
	}
	.p-Home.Flex218.bpt {
width: ;
	}
	.p-Home.Flex203.bpt {
width: ;
align-items: center;
	}
	.p-Home.Flex204.bpt {
width: ;
	}
	.p-Home.Flex215.bpt {
height: ;
	}
	.p-Home.Div352.bpt {
height: 100%;
	}
	.p-Home.Div255.bpt {
padding-bottom: 200px;
	}
	.p-Home.Image149.bpt {
height: 150px;
	}
	.p-Home.TextBox298.bpt {
font-size: 15px;
	}
	.p-Home.Image151.bpt {
height: 150px;
	}
	.p-Home.TextBox303.bpt {
font-size: 15px;
	}
	.p-Home.Image152.bpt {
height: 150px;
	}
	.p-Home.TextBox304.bpt {
font-size: 15px;
	}
	.p-Home.Image150.bpt {
height: 150px;
	}
	.p-Home.TextBox301.bpt {
font-size: 15px;
	}
	.p-Home.Image123.bpt {
width: 120px;
height: 112px;
	}
	.p-Home.Image122.bpt {
width: 120px;
height: 112px;
	}
	.p-Home.Image124.bpt {
width: 120px;
height: 120px;
	}
	.p-Home.Image125.bpt {
width: 120px;
height: 120px;
	}
	.p-Home.Image120.bpt {
width: 270px;
height: 270px;
	}
	.p-Home.Image121.bpt {
width: 270px;
height: 270px;
	}
	.p-Home.Div5.bpt {
margin-left: 180px;
margin-right: 40px;
	}
	.p-Home.Div304.bpt {
width: 200px;
	}
	.p-Home.Div306.bpt {
width: 200px;
	}
	.p-Home.Div308.bpt {
width: 200px;
	}
	.p-Home.Div357.bpt {
width: 200px;
	}
	.p-Home.Div315.bpt {
width: 200px;
	}
	.p-Home.Div316.bpt {
width: 200px;
	}
	.p-Home.Div317.bpt {
width: 200px;
	}
	.p-Home.Div318.bpt {
width: 200px;
	}
	.p-Home.Div252.bpt {
width: 350px;
height: 600px;
margin-top: 50px;
	}
	.p-Home.Flex170.bpt {
column-gap: 20px;
	}
	.p-Home.TextBox9.bpt {
width: ;
font-size: 40px;
	}
	.p-Home.TextBox285.bpt {
width: ;
font-size: 40px;
	}
	.p-Home.Div27.bpt {
height: 480px;
	}
	.p-Home.Image15.bpt {
width: 290px;
height: 320px;
align-self: center;
margin-top: 70px;
	}
	.p-Home.Image136.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image137.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image138.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image154.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image140.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image141.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image142.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image143.bpt {
width: 200px;
height: 200px;
	}
	.p-Home.Image153.bpt {
height: 400px;
	}
	.p-Home.Div249.bpt {
height: 760px;
	}
}
@media screen and (max-width: 767px) {
	.p-Home.Div148.bpt {
margin-top: 40px;
	}
	.p-Home.Flex127.bpt {
align-items: center;
justify-content: center;
column-gap: ;
	}
	.p-Home.Flex128.bpt {
column-gap: 20px;
	}
	.p-Home.Div338.bpt {
padding-bottom: 10px;
	}
	.p-Home.Div341.bpt {
padding-bottom: 10px;
	}
	.p-Home.Div342.bpt {
padding-bottom: 10px;
	}
	.p-Home.Div339.bpt {
padding-bottom: 10px;
	}
	.p-Home.Div350.bpt {
padding-bottom: 40px;
	}
	.p-Home.Flex166.bpt {
align-items: center;
	}
	.p-Home.Div272.bpt {
padding-left: 20px;
padding-right: 20px;
	}
	.p-Home.TextBox8.bpt {
font-size: 15px;
	}
	.p-Home.Link9.bpt {
padding-left: 12px;
padding-right: 12px;
	}
	.p-Home.TextBox313.bpt {
margin-bottom: 35px;
	}
	.p-Home.TextBox280.bpt {
margin-bottom: 35px;
	}
	.p-Home.TextBox284.bpt {
margin-bottom: 35px;
	}
	.p-Home.Image149.bpt {
height: 100px;
	}
	.p-Home.TextBox298.bpt {
font-size: 12px;
	}
	.p-Home.TextBox299.bpt {
margin-top: 10px;
	}
	.p-Home.Image151.bpt {
height: 100px;
	}
	.p-Home.TextBox302.bpt {
margin-top: 10px;
	}
	.p-Home.TextBox303.bpt {
font-size: 12px;
	}
	.p-Home.Image152.bpt {
height: 110px;
	}
	.p-Home.TextBox304.bpt {
font-size: 12px;
	}
	.p-Home.TextBox305.bpt {
margin-top: 10px;
	}
	.p-Home.Image150.bpt {
height: 100px;
	}
	.p-Home.TextBox300.bpt {
margin-top: 10px;
	}
	.p-Home.TextBox301.bpt {
font-size: 13px;
	}
	.p-Home.TextBox307.bpt {
font-size: 22px;
	}
	.p-Home.Image123.bpt {
width: 100px;
height: 100px;
	}
	.p-Home.Image122.bpt {
width: 100px;
height: 100px;
	}
	.p-Home.Image124.bpt {
width: 100px;
height: 100px;
	}
	.p-Home.Image125.bpt {
width: 100px;
height: 100px;
	}
	.p-Home.Image120.bpt {
width: 220px;
height: 220px;
	}
	.p-Home.Image121.bpt {
width: 220px;
height: 220px;
	}
	.p-Home.Image127.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image128.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image129.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image130.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image126.bpt {
width: 160px;
	}
	.p-Home.Div5.bpt {
margin-left: 100px;
	}
	.p-Home.Div9.bpt {
margin-left: 100px;
	}
	.p-Home.Flex17.bpt {
margin-left: ;
	}
	.p-Home.Div20.bpt {
margin-left: ;
width: 48%;
	}
	.p-Home.Flex27.bpt {
flex-direction: column;
align-items: center;
row-gap: 40px;
	}
	.p-Home.Div57.bpt {
width: 580px;
height: ;
	}
	.p-Home.Div304.bpt {
width: 150px;
	}
	.p-Home.Div306.bpt {
width: 150px;
	}
	.p-Home.Div308.bpt {
width: 150px;
	}
	.p-Home.Div357.bpt {
width: 150px;
	}
	.p-Home.Div315.bpt {
width: 150px;
	}
	.p-Home.Div316.bpt {
width: 150px;
	}
	.p-Home.Div317.bpt {
width: 150px;
	}
	.p-Home.Div318.bpt {
width: 150px;
	}
	.p-Home.Div149.bpt {
width: ;
margin-right: 10px;
margin-left: 10px;
	}
	.p-Home.Flex217.bpt {
flex-direction: row;
	}
	.p-Home.Div252.bpt {
width: 250px;
height: 400px;
	}
	.p-Home.Flex170.bpt {
column-gap: 15px;
	}
	.p-Home.Flex175.bpt {
margin-top: ;
column-gap: 20px;
	}
	.p-Home.TextBox9.bpt {
font-size: 30px;
	}
	.p-Home.TextBox285.bpt {
font-size: 32px;
	}
	.p-Home.Div27.bpt {
height: 320px;
	}
	.p-Home.Image15.bpt {
width: 200px;
height: 240px;
margin-top: 40px;
	}
	.p-Home.Image32.bpt {
width: 420px;
height: 500px;
	}
	.p-Home.Image136.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image137.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image138.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.TextBox312.bpt {
margin-top: ;
	}
	.p-Home.Image154.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image140.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image141.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image142.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image143.bpt {
width: 150px;
height: 150px;
	}
	.p-Home.Image90.bpt {
width: 120px;
margin-left: ;
	}
	.p-Home.Image91.bpt {
width: 120px;
	}
	.p-Home.Image92.bpt {
width: 120px;
	}
	.p-Home.Image93.bpt {
width: 120px;
	}
	.p-Home.Image153.bpt {
height: 300px;
	}
	.p-Home.TextBox234.bpt {
font-size: 22px;
	}
	.p-Home.TextBox235.bpt {
font-size: 13px;
	}
	.p-Home.TextBox231.bpt {
font-size: 13px;
	}
	.p-Home.TextBox232.bpt {
font-size: 13px;
	}
	.p-Home.TextBox233.bpt {
font-size: 13px;
text-align: left;
	}
	.p-Home.Div249.bpt {
height: 560px;
	}
}
@media screen and (max-width: 478px) {
	.p-Home.main_container.bpt {
width: ;
	}
	.p-Home.Div5.bpt {
margin-left: ;
	}
	.p-Home.Flex187.bpt {
column-gap: 10px;
	}
	.p-Home.Div9.bpt {
margin-left: 10px;
	}
	.p-Home.Flex17.bpt {
flex-direction: column;
align-items: flex-end;
margin-left: 20px;
	}
	.p-Home.Div20.bpt {
width: ;
margin-bottom: 20px;
	}
	.p-Home.Flex188.bpt {
justify-content: center;
	}
	.p-Home.Div24.bpt {
width: 100%;
	}
	.p-Home.Flex20.bpt {
margin-left: 10px;
	}
	.p-Home.Flex27.bpt {
flex-direction: column;
align-items: center;
row-gap: 40px;
	}
	.p-Home.Div49.bpt {
padding-left: ;
padding-top: ;
	}
	.p-Home.Flex29.bpt {
align-items: center;
justify-content: center;
flex-direction: column;
	}
	.p-Home.Div50.bpt {
margin-top: 10px;
padding-left: 20px;
	}
	.p-Home.Flex33.bpt {
flex-direction: row;
align-items: stretch;
justify-content: center;
align-content: stretch;
margin-top: 150px;
margin-left: ;
width: 100%;
	}
	.p-Home.Div57.bpt {
width: 230px;
padding-left: 10px;
padding-right: ;
margin-left: 110px;
padding-bottom: ;
padding-top: 30px;
margin-top: 240px;
	}
	.p-Home.Flex34.bpt {
width: ;
column-gap: 10px;
	}
	.p-Home.Flex37.bpt {
column-gap: 5px;
width: ;
	}
	.p-Home.Flex38.bpt {
width: ;
column-gap: 10px;
	}
	.p-Home.Flex196.bpt {
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 50px;
	}
	.p-Home.Div304.bpt {
width: 80%;
	}
	.p-Home.Flex197.bpt {
align-items: center;
	}
	.p-Home.Div306.bpt {
width: 80%;
	}
	.p-Home.Div308.bpt {
width: 80%;
	}
	.p-Home.Flex199.bpt {
align-items: center;
	}
	.p-Home.Div357.bpt {
width: 80%;
	}
	.p-Home.Flex218.bpt {
align-items: center;
	}
	.p-Home.Flex205.bpt {
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 50px;
	}
	.p-Home.Div315.bpt {
width: 80%;
	}
	.p-Home.Div316.bpt {
width: 80%;
	}
	.p-Home.Div317.bpt {
width: 80%;
	}
	.p-Home.Flex203.bpt {
align-items: center;
width: ;
	}
	.p-Home.Div318.bpt {
width: 80%;
	}
	.p-Home.Flex204.bpt {
align-items: center;
	}
	.p-Home.Div144.bpt {
margin-top: 200px;
height: ;
	}
	.p-Home.Div149.bpt {
width: 90%;
	}
	.p-Home.Flex129.bpt {
margin-top: 10px;
	}
	.p-Home.Flex217.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Flex214.bpt {
flex-direction: column;
	}
	.p-Home.Div344.bpt {
width: ;
	}
	.p-Home.Div340.bpt {
width: ;
	}
	.p-Home.Div345.bpt {
width: ;
	}
	.p-Home.Flex215.bpt {
flex-direction: column;
	}
	.p-Home.Div346.bpt {
width: ;
	}
	.p-Home.Div347.bpt {
width: ;
	}
	.p-Home.Div343.bpt {
width: ;
margin-top: 30px;
margin-bottom: 30px;
	}
	.p-Home.Div352.bpt {
width: ;
	}
	.p-Home.Flex157.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Div245.bpt {
margin-right: 30px;
	}
	.p-Home.Flex163.bpt {
flex-direction: row;
margin-right: 30px;
	}
	.p-Home.Div254.bpt {
margin-top: 30px;
width: ;
margin-bottom: 40px;
margin-left: 50px;
	}
	.p-Home.Flex158.bpt {
flex-direction: row;
	}
	.p-Home.Div252.bpt {
margin-left: -60px;
width: 150px;
	}
	.p-Home.Div255.bpt {
padding-bottom: 100px;
padding-top: 100px;
	}
	.p-Home.Flex169.bpt {
margin-left: 30px;
margin-right: 30px;
	}
	.p-Home.Flex170.bpt {
flex-direction: column;
align-items: center;
row-gap: 20px;
column-gap: ;
	}
	.p-Home.Flex175.bpt {
flex-direction: column;
align-items: center;
	}
	.p-Home.Div278.bpt {
width: 80%;
	}
	.p-Home.Flex176.bpt {
margin-right: 30px;
	}
	.p-Home.Div280.bpt {
margin-bottom: 20px;
	}
	.p-Home.Flex178.bpt {
margin-right: ;
margin-bottom: 10px;
	}
	.p-Home.Div281.bpt {
margin-right: 10px;
	}
	.p-Home.Div279.bpt {
width: 80%;
	}
	.p-Home.Flex221.bpt {
flex-direction: column;
align-items: stretch;
justify-content: center;
height: ;
	}
	.p-Home.Div360.bpt {
width: ;
	}
	.p-Home.Flex223.bpt {
width: ;
justify-content: center;
margin-left: 20px;
margin-right: 20px;
	}
	.p-Home.Div363.bpt {
width: ;
	}
	.p-Home.Flex225.bpt {
justify-content: center;
	}
	.p-Home.Div361.bpt {
width: ;
	}
	.p-Home.Image3.bpt {
width: 150px;
	}
	.p-Home.Link6.bpt {
padding-left: 10px;
padding-right: 10px;
font-size: 13px;
	}
	.p-Home.Link7.bpt {
padding-left: 13px;
padding-right: 13px;
font-size: 12px;
	}
	.p-Home.TextBox9.bpt {
width: ;
font-size: 35px;
line-height: ;
	}
	.p-Home.TextBox285.bpt {
width: ;
font-size: 35px;
line-height: ;
	}
	.p-Home.Div27.bpt {
width: 140em;
height: 330px;
margin-left: 50px;
	}
	.p-Home.Image15.bpt {
width: 250px;
height: 250px;
	}
	.p-Home.TextBox36.bpt {
margin-top: 20px;
	}
	.p-Home.TextBox42.bpt {
font-size: ;
	}
	.p-Home.TextBox43.bpt {
font-size: 12px;
	}
	.p-Home.TextBox44.bpt {
font-size: 12px;
width: ;
	}
	.p-Home.Image32.bpt {
width: 300px;
margin-left: ;
height: ;
	}
	.p-Home.TextBox263.bpt {
width: ;
	}
	.p-Home.Image136.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox266.bpt {
width: ;
	}
	.p-Home.Image137.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox269.bpt {
width: ;
	}
	.p-Home.Image138.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox312.bpt {
width: ;
	}
	.p-Home.Image154.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox277.bpt {
width: ;
	}
	.p-Home.Image140.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox279.bpt {
width: ;
	}
	.p-Home.Image141.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox281.bpt {
width: ;
	}
	.p-Home.Image142.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.TextBox283.bpt {
width: ;
	}
	.p-Home.Image143.bpt {
width: 300px;
height: 300px;
	}
	.p-Home.Image90.bpt {
width: 90px;
	}
	.p-Home.Image91.bpt {
width: 70px;
	}
	.p-Home.Image92.bpt {
width: 70px;
	}
	.p-Home.Image93.bpt {
width: 70px;
	}
	.p-Home.Image153.bpt {
width: 90%;
margin-left: 20px;
margin-right: 20px;
	}
	.p-Home.TextBox234.bpt {
font-size: 22px;
	}
	.p-Home.TextBox235.bpt {
font-size: 17px;
	}
	.p-Home.TextBox231.bpt {
font-size: 16px;
	}
	.p-Home.TextBox232.bpt {
font-size: 16px;
	}
	.p-Home.TextBox233.bpt {
font-size: 16px;
	}
	.p-Home.Div249.bpt {
margin-right: -300px;
margin-left: ;
width: 140%;
	}
	.p-Home.TextBox236.bpt {
font-size: ;
	}
	.p-Home.Link18.bpt {
padding-left: 15px;
padding-right: 15px;
font-size: 15px;
padding-top: 12px;
padding-bottom: 12px;
	}
	.p-Home.TextBox316.bpt {
margin-left: 20px;
margin-right: 30px;
	}
	.p-Home.TextBox317.bpt {
margin-left: 20px;
margin-right: 20px;
	}
	.p-Home.Image155.bpt {
margin-bottom: ;
margin-left: 20px;
margin-right: 20px;
width: 95%;
	}
}