.p-Home .Link1 a, .Link2 a, .Link3 a, .Link4 a, .Link5  a{
    text-decoration: none;
    color: black;
    opacity: 60%;
}
.p-Home .Link7 a,
.Link10 a,
.Link13 a,
.Link14 a,
.Link16 a,
.Link18 a,
.Link8 a,
.Link79 a,
.Link83 a,
.Link500 a{
    color: white ;
    text-decoration: none;
}
.p-Home .Link6 a,
.Link9 a,
.Link12 a,
.Link a,
.Link15 a,
.Link17 a,
.Link82 a,
.Link98 a{
     color: black;
     text-decoration: none;
}

.p-Home .LinkA a,
.p-Home .LinkB a,
.p-Home .LinkC a,
.p-Home .LinkD a,
.p-Home .LinkE a,
.p-Home .LinkF a,
.p-Home .LinkG a,
.p-Home .LinkH a,
.p-Home .LinkI a,
.p-Home .LinkJ a,
.p-Home .LinkK a,
.p-Home .LinkL a,
.p-Home .LinkM a,
.p-Home .LinkN a
{
    text-decoration: none;
    color: black;
    opacity: 60%;
}
.p-Home .Link90 a,
.p-Home .Link91 a,
.p-Home .Link92 a,
.p-Home .Link93 a{
    color: #FF8300;
    text-decoration: none;
}
.p-Home .Link99 a{
    color: black;
    text-decoration: none;
}
